div.navbar-inner {
    background-color: #4c4c4c;
}
.navbar .brand span {
    vertical-align: bottom;
}
.property-name {
    color: #0088cc;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
}
.regex {
    white-space: nowrap;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: #FF6600;
    background-color: #FFF4E8;
}
.smallFont {
    font-size: 11px !important;
}
.method-type {
    color: white;
    display: inline-block;
    text-transform: uppercase;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    padding: 0 2px;
}
.method-name.post {

}
.put .method-type  {
    background-color: #c5862b;
}
.post .method-type  {
    background-color: #10a54a;
}
.delete .method-type  {
    background-color: #a41e22;
}
.get .method-type  {
    background-color: #0f6ab4;
}
.smileLogo {
    background: url("../img/smile logo.png");
    width: 130px;
    height: 23px;
    background-size: 130px;
    display: inline-block;
}
.brand:hover .smileLogo {
    background: url("../img/smile logo over.png");
    background-size: 130px;
}