<div class='ml-alert-2-<%= alert_type %>'>
    <div class="style-2-icon <%= alert_type %>"></div>
    <%= alert_message %>
    <div class="style-2-close <%= alert_type %>"
         onclick="$(this.parentNode).hide(400, function() { this.remove(); });"></div>
</div>