<form id="login-form" method="post" action="/services/user">
<div class="row height480px">
    <div class="container">
        <div class="row height50">
            <h1 class="pl40">Sign in to SMILE</h1>
        </div>

        <div class="row bgsilver">
            <div class="username_field">
                <div class="input_box green_bg">
                    <div class="user_icon"></div>
                </div>
                <input type="text" placeholder="Username or Email" class="input_field input_green" id="signin-username">
            </div>
            <div class="clearfix"></div>
            <div class="password_field">
                <div class="input_box red_bg">
                    <div class="key_icon"></div>
                </div>
                <input type="password" placeholder="Password" class="input_field input_red" id="signin-password">
            </div>
            <div class="clearfix"></div>
            <a href="#" class="forgot">Forgot Password?</a>
            <div class="divider"></div>

            <div class="row tm20 height30">
                <div class="check">
                    <input type="checkbox" value="None" id="signin-remember" name="check"/>
                    <label for="check"></label>
                </div>
                <p class="remember">Remember Me</p>
            </div>


            <input type="submit" class="submit" value="Log in">
        </div>
    </div>
</div>
</form>