<% if (app.mobile_agent) { %>
<div class="pullDown">
    <span class="pullDownIcon"></span>
    <span class="pullDownLabel">Pull down to refresh...</span>
</div>
<% } %>

<ul class="question-list">
    <li>
        <div class="input-search">
            <input type="text" class="search-input-text">
            <a class="search-input-clear">
                            <span class="search-btn-inner">
                                <span class="search-icon-delete"></span>
                            </span>
            </a>
        </div>
        <div class="select-wrapper search-order">
                        <span class="select-button">
                            <span class="select-text">Order By: Newest</span>
                            <span class="select-icon"></span>
                        </span>
            <select name="search-order" class="select-hidden" id="select-search-order">
                <option value=0>Newest</option>
                <option value=1>Oldest</option>
                <option value=2>Top Rated</option>
                <option value=3>Most Answered</option>
                <option value=4>Hardest</option>
                <option value=5>Easiest</option>
            </select>
        </div>
    </li>
    <%
    questions.each(function (q) { %>
    <li class="question-li">
        <div class="topbar-triangle question-li-bar">
            <div class="triangle question-li-triangle"></div>
        </div>
        <div class="avatar <%= avatar_style %>" style="background: url(<%= q.get('avatar_path') %>)"></div>
        <div class="username"><%= q.get('username') %></div>
        <div class="question-icon"></div>
        <div class="question-li-text"><%- q.get('questionText') %></div>
        <div class="star-wrapper">
            <div class="star-bar" style="width: <%= q.get('avgRating') * 10 %>%"></div>
            <div class="star-overlay"></div>
        </div>
        <div class="commentBox">23</div>
        <% var name = "q_canvas_chart_" + q.get('id') %>
        <canvas class="percentCorrect" id="<%= name %>" height="52px" width="52px"></canvas>
        <%
        toRender.push({id: name, val: q.get('avgCorrect'), num: q.get('uniqueAnswers')});
        %>
    </li>
    <% }); %>
</ul>

<% if (app.mobile_agent) { %>
<div class="pullUp">
    <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
</div>
<% } %>
