<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/activity</h2>
</div>

<p>Activity objects represent interactive sessions in which group users can create and respond to each others resources. The same activity can be taken and used by multiple groups. Anyone can execute a public activity. Only organizers of an activity's owingGroup or an activity's owner can edit or delete an activity. Resources created in an activity are associated with that activity.</p>
<p>The activity object can represent many different types of activities. Additional properties that are not in the Activity schema can be stored and retrieved from Activity objects.</p>
<p>{activity} represents an Activity's UUID.</p>
<!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schema</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
Activity {
    UUID: "asdfan934ufajf9jfo2jf00202",
    name: "Ed Tech Mobile Innovations",
    description: "",
    activityType: "flippedMC",
    owner: "asdfaa21wd123333f",
    owningGroup: "asdf2j9q3wi90qpi2e",
    institution: "12341234",
    createdOn: [2009, 1, 31, 18, 4, 11],
    public: true,
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    photoUrl: "/photos/user/as3gf2eg24g24g.png",
    language: "English"
}
                </pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->


<!-- table Property Summary -->
<h3>Property Summary</h3>
<table id="property-summary" class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">name</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The name of the activity.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">activityType</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The user-specified type of the activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">owner</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The owner of the activity. By default this is the user who created the activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">owningGroup</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUID of the group that owns this activity. An activity may optionally have a group owner in addition to a user owner.</td>
    </tr>
    <tr>
        <td><span class="property-name">institution</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUID of the institution associated with this activity. By default this is the institution associated with the activity's group (if created in a group) or owner.</td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds]. Created by server.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">public</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">Public activities may be viewed by all users Private activities may only be viewed by their owners or owningGroup members.</td>
    </tr>
    <tr>
        <td><span class="property-name">tags</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined string tags associated with activity. By default these are the tags of the owningGroup.</td>
    </tr>
    <tr>
        <td><span class="property-name">gradeLevels</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined grade levels. By default takes the value of the gradeLevels property of owningGroup.</td>
    </tr>
    <tr>
        <td><span class="property-name">subjects</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined subject categories for group. By default takes the value of the subjects property of owningGroup.</td>
    </tr>
    <tr>
        <td><span class="property-name">photoUrl</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">URL of group photo.</td>
    </tr>
    <tr>
        <td><span class="property-name">language</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">By default takes the value of the language property of owningGroup, or owner if there is no owningGroup.</td>
    </tr>

    </tbody>
</table>
<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /activity</td>
        <td class="method-desc">Creates an activity object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /activity/{activity}</td>
        <td class="method-desc">Updates given activity.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /activity/{activity}</td>
        <td class="method-desc">Deletes an activity object and associated sessions.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /activity/{activity}</td>
        <td class="method-desc">Fetches an activity object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /activity/groupActivities/{group}</td>
        <td class="method-desc">Fetches all activities associated with a group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /activity/userActivities/{user}</td>
        <td class="method-desc">Fetches all activities associated with groups in which the given user is a member.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /activity/{activity}/clone</td>
        <td class="method-desc">Creates a copy of the activity. The new activity can be associated with a different owner or owning group. Only admins can associate the new activity with a owner other than themselves or with a group in which they are not an organizer.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
    <div class="page-header">
        <a title="jump to method summary" href="#method-set" class="scroll pull-right">
            <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
        </a>

        <h3 id="method-desc-set">Method Detail</h3>
    </div>

<!--Begin Method Details: POST /activity -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /activity</p>

    <p class="det">Creates an activity object. Any fields that are in the schema but not in the request schema cannot be added (such as UUID). Any additional fields not in the schema will be added.</p>
    <p>Requires authentication.</p>
    <p>Only admins or group organizers of a group can associate an activity with that group. They can do so by specifying the owningGroup property.</p>
    <p>Only admins can set the owner property. Otherwise it is set to the currently authenticated user.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    *name: "Ed Tech Mobile Innovations",
    description: "",
    *activityType: "flippedMC",
    (admin) owner: "asdfaa21wd123333f",
    owningGroup: "asdf2j9q3wi90qpi2e",
    institution: "12341234",
    public: true,
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    photo: [binary photo data],
    language: "English"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">1</td>
            <td class="error-msg">Missing required fields in request: [username]</td>
            <td class="error-desc">The request is missing one or more required fields.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot create a Group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">23</td>
            <td class="error-msg">Admin authorization required to modify the owner of an activity that you do not own.</td>
            <td class="error-desc">Admin authorization required to set the owner of an activity to a user besides the currently authenticated user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">24</td>
            <td class="error-msg">Admin authorization required to set owningGroup to a group in which you are not an organizer or owner.</td>
            <td class="error-desc">Admin authorization is required to set owningGroup to a group in which you are not an organizer or owner.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /activity-->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /activity/{activity} -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /activity/{activity}</p>

    <p class="det">Updates activity. Requires authentication.</p>
    <p>To change the owner of an activity, you must either be an admin or own the specified activity. To update an activity, you must either be an admin, own the activity, or be an organizer in the current owningGroup.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    name: "Ed Tech Mobile Innovations",
    description: "",
    activityType: "flippedMC",
    (admin) owner: "asdfaa21wd123333f",
    owningGroup: "asdf2j9q3wi90qpi2e",
    institution: "12341234",
    public: true,
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    photo: [binary photo data],
    language: "English"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot update an Activity without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Activity found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">23</td>
            <td class="error-msg">Admin authorization required to modify the owner of an activity that you do not own.</td>
            <td class="error-desc">Admin authorization required to modify the owner of an activity that you do not own.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">24</td>
            <td class="error-msg">Admin authorization required to set owningGroup to a group in which you are not an organizer or owner.</td>
            <td class="error-desc">Admin authorization is required to set owningGroup to a group in which you are not an organizer or owner.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /activity/{activity} -->
    <div class="page-header"></div>
<!--Begin Method Details: DELETE /activity/{activity} -->
    <p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /activity/{activity}</p>

    <p class="det">Deletes given activity and all sessions associated exclusively with the activity. Only an activity's owner or an admin user can delete an activity.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to delete an activity owned by a different user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot delete an Activity without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Activity found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: DELETE /activity/{activity}-->
    <div class="page-header"></div>
<!--Begin Method Details: GET /activity/{activity} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /activity/{activity}</p>

    <p class="det">Returns activity object. You must be authenticated (logged in) to call this function. Everyone can view public activities. Private activities can only be viewed by the activity's owner or members of the owningGroup.</p>
    <p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Activity schema), except for photo.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description", "activityType", "owner", "owningGroup"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    activity: {
        //All activity fields are returned except for photo.
        //Properties added that are not on the Activity schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Activity details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Activity found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">24</td>
            <td class="error-msg">Insufficient permissions to view activity.</td>
            <td class="error-desc">Without admin status, you cannot view a private activity that is not owned by you or a group in which you are a member.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /activity/{activity} -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /activity/groupActivities/{group} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /activity/groupActivities/{group}</p>

    <p class="det">Returns activities where owningGroup is the specified group.</p>
    <p>You must be authenticated as an organizer of a group to view it's activities.</p>
    <p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Activity schema), except for photo.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description", "activityType", "owner", "owningGroup"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    activities: [
        { [Activity] }
        //All activity fields are returned by default except for photo.
        //Properties added that are not on the Activity schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Group details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Group found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">25</td>
            <td class="error-msg">Insufficient permissions to view group activities.</td>
            <td class="error-desc">Without admin status, you cannot view the group activities from a group in which you are not a group organizer.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /activity/groupActivities/{group} -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /activity/userActivities/{user} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /activity/userActivities/{user}</p>

    <p class="det">Returns all activities owned by given user.</p>
    <p>Only authenticated users can view their activities. Only admins can request activities for users other than the currently authenticated user.</p>
    <p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Activity schema), except for photo.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description", "activityType", "owner", "owningGroup"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    activities: [
        { [Activity] }
        //All activity fields are returned by default except for photo.
        //Properties added that are not on the Activity schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Group details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">26</td>
            <td class="error-msg">Insufficient permissions to view user activities.</td>
            <td class="error-desc">Without admin status, you cannot view the activities owned by a user other than the currently authenticated user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /activity/userActivities/{user} -->
    <div class="page-header"></div>
<!--Begin Method Details: POST /activity/{activity}/clone -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /activity/{activity}/clone</p>

    <p class="det">Clones a given activity. A copy of the activity is made. New UUID and createdOn fields are generated. The institution and owningGroup fields are reset. The UUID of the newly created clone is returned if operation is successful.</p>
    <p>Only authenticated users can clone activities. Without admin status, you cannot clone a private activity that is not owned by you or a group in which you are a member.</p>
    <p>The owner field is set to the currently authenticated user. Only admins can specify a different owner besides themselves. The owningGroup field can be set to a new owningGroup, but the authenticated user must either be an admin or an organizer in this new owningGroup.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (admin) owner: "asdfw3gsrfr22bha",
    owningGroup: "5tgbtyj54hj44"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        </tr><tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot clone an Activity without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Activity found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">37</td>
            <td class="error-msg">Insufficient permissions to clone activity.</td>
            <td class="error-desc">Without admin status, you cannot clone a private activity that is not owned by you or a group in which you are a member.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /activity/{activity}/clone -->
</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->