<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/authentication</h2>
</div>

<p>Static set of methods for logging in and logging out.</p><!-- /Class Overview -->

<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /auth/login</td>
        <td class="method-desc">Allows a user to login to SMILE.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /auth/logout</td>
        <td class="method-desc">Logs a user out of SMILE.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
    <div class="page-header">
        <a title="jump to method summary" href="#method-set" class="scroll pull-right">
            <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
        </a>

        <h3 id="method-desc-set">Method Detail</h3>
    </div>

<!--Begin Method Details: POST /auth/login -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /auth/login</p>

    <p class="det">Logs a user in to SMILE. An authentication token is stored as a cookie, and must be passed with all requests that require authentication. Either a username or email address may be used. If the optional staySignedIn parameter is passed, then the user will not be automatically logged out.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    username: "noah",
    password: "plainTextPassword",
    [staySignedIn]: true
}

// OR

{
    emailAddress: "freedmannoah@gmail.com",
    password: "plainTextPassword"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">1</td>
            <td class="error-msg">Missing required fields in request: [username]</td>
            <td class="error-desc">The request is missing one or more required fields.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">9</td>
            <td class="error-msg">Username not found</td>
            <td class="error-desc">The specified username does not exist.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">10</td>
            <td class="error-msg">Email address not found</td>
            <td class="error-desc">The specified email address does not exist.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">11</td>
            <td class="error-msg">Incorrect password</td>
            <td class="error-desc">The password provided is not correct.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /auth/login-->
    <div class="page-header"></div>
<!--Begin Method Details: POST /auth/logout -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /auth/logout</p>

    <p class="det">Logs currently authenticated user out of SMILE.</p>
    <p>Request Schema: <b><i>none</i></b></p></pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code"> - </td>
            <td class="smile-code"> - </td>
            <td class="error-msg"> - </td>
            <td class="error-desc"> - </td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /auth/logout -->


</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->