<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/group</h2>
</div>

<p>Groups of users can be created by any users. Activities take place at the group level between group members. Groups' creators are their owners, and can designate other users as organizers. Group owners and organizers can invite users to be group members, create and manage group activities, administer the group, and delete the group. The group owner and organizers are included in the memberIds array. The group owner is included in the organizerIds array.</p>
<p>Groups can be designated as public or private. Public groups can be searched and joined by any user. Public groups may be passcode-protected. Users can only join a private group by invitation.</p>
<p>{group} represents the Group's UUID.</p>
<!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schema</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
Group {
    UUID: "asdfan934ufajf9jfo2jf00202",
    name: "Ed Tech Mobile Innovations",
    groupType: "standard"
    institution: "12341234",
    owner: "asdfaa21wd123333f",
    createdOn: [2009, 1, 31, 18, 4, 11],
    memberIds: ["asdfq2waef", "asdf2efwsdfs4", "asdf2wasdg4ea", "23d34345245f", "12341235345"],
    organizerIds: ["asdfaa21wd123333f", "12341235345"],
    public: true,
    requirePasscode: true,
    passcode: "smileLearning",
    invitedIds: ["as2efwsdf212ef", "asdf3234213ffg3", "aw23f2gg24g2"],
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    photoUrl: "/photos/user/as3gf2eg24g24g.png",
    language: "English"
}
                </pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->


<!-- table Property Summary -->
<h3>Property Summary</h3>
<table id="property-summary" class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">name</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The name of the group.</td>
    </tr>
    <tr>
        <td><span class="property-name">groupType</span></td>
        <td class="type-value">string</td>
        <td class="default-value">"standard"</td>
        <td class="class-desc">The user-specified type of the group.</td>
    </tr>
    <tr>
        <td><span class="property-name">institution</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Institution that group is related to.</td>
    </tr>
    <tr>
        <td><span class="property-name">owner</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUID of owner. Owner is by default the user who created the group.</td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds]. Created by server.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">memberIds</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of UUIDs of users who are members of the group. The group owner and organizers are included in the memberIds list.</td>
    </tr>
    <tr>
        <td><span class="property-name">organizerIds</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of UUIDs of users who are organizers of the group. The owner is included in the list of organizers, and is by default the only organizer.</td>
    </tr>
    <tr>
        <td><span class="property-name">public</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If true, then all users can search for and request to join the group.</td>
    </tr>
    <tr>
        <td><span class="property-name">requirePasscode</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If true, then a passcode will be required for users to join the group who have not received invites. Only applicable when a group is public.</td>
    </tr>
    <tr>
        <td><span class="property-name">passcode</span></td>
        <td class="type-value">string</td>
        <td class="default-value">""</td>
        <td class="class-desc">Passcode needed for joining a group if requirePasscode is true.</td>
    </tr>
    <tr>
        <td><span class="property-name">invitedIds</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of UUIDs of users who have been invited to join the group but who have not yet accepted the group invitation.</td>
    </tr>
    <tr>
        <td><span class="property-name">tags</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined string tags that organizers can set to define a group by properties such as subject area or grade level.</td>
    </tr>
    <tr>
        <td><span class="property-name">gradeLevels</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined grade levels.</td>
    </tr>
    <tr>
        <td><span class="property-name">subjects</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined subject categories for group.</td>
    </tr>
    <tr>
        <td><span class="property-name">photoUrl</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">URL of group photo.</td>
    </tr>

    </tbody>
</table>
<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /group</td>
        <td class="method-desc">Creates a group object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /group/{group}</td>
        <td class="method-desc">Updates given group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /group/{group}</td>
        <td class="method-desc">Deletes a group object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/{group}</td>
        <td class="method-desc">Fetches a group object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/nameIsUnique</td>
        <td class="method-desc">Returns true if no group exists with given name.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/getByName/{name}</td>
        <td class="method-desc">Fetches a group object by name.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /group/{group}/addMembers</td>
        <td class="method-desc">Adds members to a group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /group/{group}/removeMembers/</td>
        <td class="method-desc">Removes members from a group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /group/{group}/joinGroup/</td>
        <td class="method-desc">Allows a user to request to join a group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /group/{group}/addOrganizers/</td>
        <td class="method-desc">Adds organizers to a group from amongst group members.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /group/{group}/removeOrganizers/</td>
        <td class="method-desc">Removes organizer status from organizers in group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /group/{group}/changeOwner/</td>
        <td class="method-desc">Changes the owner of the group.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/searchGroups</td>
        <td class="method-desc">Requests list of public groups.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/fetchInvites/</td>
        <td class="method-desc">Fetches a list of groups that users are invited to but have not yet joined.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/fetchGroups/</td>
        <td class="method-desc">Fetches a list of groups in which the current user is a member.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /group/fetchGroups/{user}</td>
        <td class="method-desc">Fetches a list of groups in which the given user is a member.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
    <div class="page-header">
        <a title="jump to method summary" href="#method-set" class="scroll pull-right">
            <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
        </a>

        <h3 id="method-desc-set">Method Detail</h3>
    </div>

<!--Begin Method Details: POST /group -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /group</p>

    <p class="det">Creates a group object. Any fields that are in the schema but not in the request schema cannot be added (such as UUID). Any additional fields not in the schema will be added. Requires authentication. Only admins can create a group with a different owner than themselves. They can do so by specifying the owner property.</p><p>Group names must be unique.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    *name: "Ed Tech Mobile Innovations",
    groupType: "standard"
    institution: "12341234",
    (admin) owner: "asdfaa21wd123333f",
    memberIds: ["asdfq2waef", "asdf2efwsdfs4", "asdf2wasdg4ea", "23d34345245f", "12341235345"],
    organizerIds: ["asdfaa21wd123333f", "12341235345"],
    public: true,
    requirePasscode: true,
    passcode: "smileLearning",
    invitedIds: ["as2efwsdf212ef", "asdf3234213ffg3", "aw23f2gg24g2"],
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    photo: [binary photo data],
    language: "English"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">1</td>
            <td class="error-msg">Missing required fields in request: [username]</td>
            <td class="error-desc">The request is missing one or more required fields.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to create a group with a different owner than the currently authenticated user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot create a Group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">16</td>
            <td class="error-msg">Group name already exists: [name]</td>
            <td class="error-desc">Group names must be unique.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /group-->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /group/{group} -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /group/{group}</p>

    <p class="det">Updates group. Requires authentication.</p>
    <p>To change the owner of a group, you must either be an admin or own the specified group. Changing the owner of a group removes the previous owner from the organizerId list, and adds the new owner to the organizerId list and the memberId list. Adding a new user to the organizerId list who is not a member of the group will automatically add the new organizer to the memberId list as well.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    name: "Ed Tech Mobile Innovations",
    groupType: "standard"
    institution: "12341234",
    (admin) owner: "asdfaa21wd123333f",
    memberIds: ["asdfq2waef", "asdf2efwsdfs4", "asdf2wasdg4ea", "23d34345245f", "12341235345"],
    organizerIds: ["asdfaa21wd123333f", "12341235345"],
    public: true,
    requirePasscode: true,
    passcode: "smileLearning",
    invitedIds: ["as2efwsdf212ef", "asdf3234213ffg3", "aw23f2gg24g2"],
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    photo: [binary photo data],
    language: "English"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to edit a group that you are not an owner of or organizer for.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot update a Group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Group found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">16</td>
            <td class="error-msg">Group name already exists: [name]</td>
            <td class="error-desc">Group names must be unique.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">17</td>
            <td class="error-msg">Admin authorization required to change the owner for a group that you do not own.</td>
            <td class="error-desc">You cannot change the owner of a group that you do not own unless you are an admin.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group} -->
    <div class="page-header"></div>
<!--Begin Method Details: DELETE /group/{group} -->
    <p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /group/{group}</p>

    <p class="det">Deletes given group. Only a group's owner or an admin user can delete a group.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to delete a group created by a different user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot delete an Institution without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Group found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: DELETE /group/{group}-->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/{group} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/{group}</p>

    <p class="det">Returns group object. You must be authenticated (logged in) to call this function. If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Group schema), except for photo. Passcode is only return if you are an organizer in the group or an admin user.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "groupType", "owner"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    group: {
        //All group fields are returned except for photo (passcode is only returned for group organizers and admin users).
        //Properties added that are not on the Group schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Group details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Group found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/nameIsUnique -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/nameIsUnique -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/nameIsUnique</p>

    <p class="det">Returns true if group exists with given name.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    name: "My group name"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    unique: true,
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Group details without being logged in as a SMILE user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/nameIsUnique -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/getByName/{name} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/getByName/{name}</p>

    <p class="det">Returns group object. You must be authenticated (logged in) to call this function. If the optional onlyFields parameter is passed, then only specified fields are returned. All fields are returned (including custom added fields not present in the Group schema), except for photo. Passcode is only returned if you are an organizer in the group or an admin user.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "groupType", "owner"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    group: {
        //All user fields are returned except for photo (passcode is only returned for group organizers and admin users).
        //Properties added that are not on the Group schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Group details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">14</td>
            <td class="error-msg">No [object] found with [var]: [values].</td>
            <td class="error-desc">No Group found with specified name.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/getByName/{name} -->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /group/{group}/addMembers -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /group/{group}/addMembers</p>

    <p class="det">Adds users to group. If organizer is true for a given user, then also adds that user to the organizerIds list. Must be a group organizer or an admin to add users to a group.</p>
    <p>Authorization is required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    members: [
        { UUID: "sa34rf2ef2ge2", organizer: false },
        { UUID: "sdfgs5g35h224" },
        { UUID: "23423542524yth" }
    ]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to add members to a group in which you are not an organizer.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot add members to a group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User/Group found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group}/addMembers -->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /group/{group}/removeMembers -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /group/{group}/removeMembers</p>

    <p class="det">Removes users from group. Must be a group organizer or an admin to remove users from a group.</p>
    <p>Organizers cannot remove other organizers from a group. Only the group owner can remove an organizer from the group. An organizer that is removed from the group is also removed from the organizerIds list. No one can remove the owner from a group. </p>
    <p>Authorization is required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    members: [
        { UUID: "sa34rf2ef2ge2" },
        { UUID: "sdfgs5g35h224" },
        { UUID: "23423542524yth" }
    ]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to remove members to a group in which you are not an organizer.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot remove members from a Group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User/Group found with specified UUID.</td>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">18</td>
            <td class="error-msg">User was not a group member.</td>
            <td class="error-desc">User was not a member of group.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">19</td>
            <td class="error-msg">Insufficient privileges to remove organizer from group.</td>
            <td class="error-desc">Only a group owner can remove organizers from a group.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">20</td>
            <td class="error-msg">Cannot remove owner from group.</td>
            <td class="error-desc">You cannot remove an owner from a group.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group}/removeMembers -->
    <div class="page-header"></div>
<!--Begin Method Details: POST /group/{group}/joinGroup -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /group/{group}/joinGroup</p>

    <p class="det">Requests to join a group. If the group requires a passcode to join, then the user must either supply a passcode or be on the group's invitedIds list (from having received an invite). Users cannot request to join a private group.</p>
    <p>If user is on the invitedIds list, then joining the group removes them from the invitedIds list.</p>
    <p>Authorization is required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    passcode: "helloWorld"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot add members to a group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Group found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">21</td>
            <td class="error-msg">You are already a member of this group.</td>
            <td class="error-desc">You cannot join this group as you are already a member of this group.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group}/joinGroup -->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /group/{group}/addOrganizers -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /group/{group}/addOrganizers</p>

    <p class="det">Adds organizers to group. If user is not a member, then also adds user to the memberIds list. Must be a group organizer or an admin to add users to a group.</p>
    <p>Authorization is required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    organizers: [
        { UUID: "sa34rf2ef2ge2", },
        { UUID: "sdfgs5g35h224" },
        { UUID: "23423542524yth" }
    ]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to add organizers to a group in which you are not an organizer.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot add organizers to a group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User/Group found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group}/addOrganizers -->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /group/{group}/removeOrganizers -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /group/{group}/removeOrganizers</p>

    <p class="det">Removes organizer permission from group users. Must be a group organizer or an admin to remove users from a group.</p>
    <p>Only organizers can remove organizer status from other group members. No one can remove organizer status from the group owner.</p>
    <p>Authorization is required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    organizers: [
        { UUID: "sa34rf2ef2ge2" },
        { UUID: "sdfgs5g35h224" },
        { UUID: "23423542524yth" }
    ]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to remove members to a group in which you are not an organizer.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot remove members from a Group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User/Group found with specified UUID.</td>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">18</td>
            <td class="error-msg">User was not a group member.</td>
            <td class="error-desc">User was not a member of group.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">22</td>
            <td class="error-msg">Cannot remove owner from group's organizers.</td>
            <td class="error-desc">You cannot remove an owner from a group's organizer list.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group}/removeOrganizers -->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /group/{group}/changeOwner -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /group/{group}/changeOwner</p>

    <p class="det">Changes the owner of a group. Only a group's owner or an admin user can change the owner of a group. The new owner of the group is automatically added to the organizerIds list and memberIds list if they are not already a group member or organizer.</p>
    <p>Authorization is required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    owner: "24r2wefasdg3rg2r"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to change the owner for a group in which you are not the owner.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot change the owner of a Group without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User/Group found with specified UUID.</td>
        </tbody>
    </table>
<!--End Method Details: PUT /group/{group}/changeOwner -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/searchGroups -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/searchGroups</p>

    <p class="det">Returns list of Group names and UUIDs that match search query. If admin user, all groups are returned. If not an admin user, only public groups are returned.</p>
    <p>Authorization required.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    query: "programming",
    orderBy: "createdOn",
    descending: true,
    owner: "342werg45h3h3g"
    results: 20,
    page: 1
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    results: [
        { name: "Programming 101", UUID: "234f93j9j13g13gj" },
        { name: "Python Programming", UUID: "q3458098s0d9fg388" },
        { name: "Intro to Programming", UUID: "89jwefj9282938fj" }
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot search for Groups without being logged in as a SMILE user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/searchGroups -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/fetchInvites -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/fetchInvites</p>

    <p class="det">Fetches a list of groups that the current user has been invited to but hasn't joined yet.</p>
    <p>Authorization required.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    groupsInvitedTo: [
        { name: "Programming 101", UUID: "234f93j9j13g13gj" },
        { name: "Python Programming", UUID: "q3458098s0d9fg388" }
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot search for Groups without being logged in as a SMILE user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/fetchInvites -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/fetchGroups -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/fetchGroups</p>

    <p class="det">Fetches the list of groups that the current user is a member of.</p>
    <p>Authorization required.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    groups: [
        { name: "Programming 101", UUID: "234f93j9j13g13gj" },
        { name: "Python Programming", UUID: "q3458098s0d9fg388" }
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot fetch your Groups without being logged in as a SMILE user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/fetchGroups -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /group/fetchGroups/{user} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /group/fetchGroups/{user}</p>

    <p class="det">Fetches the list of groups in which the specified user is a member. If an admin user, then returns all groups in which the user is a member. If not an admin user, then the function returns only the public groups in which the specified user is a member.</p>
    <p>Authorization required.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    groups: [
        { name: "Programming 101", UUID: "234f93j9j13g13gj" },
        { name: "Python Programming", UUID: "q3458098s0d9fg388" }
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot fetch your Groups without being logged in as a SMILE user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /group/fetchGroups/{user} -->

</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->