<div class="span9">
    <div class="doc-content-box">
        <!-- doc-index-block -->
        <div class="doc-index-block">
            <h2 id="A">SMILE Global 2.0 API</h2>                
            <div class="index-item">
                <div class="index-header">
                    Overview
                </div>
                <div class="index-desc">
                    <p>Overview of SMILE Global 2.0 API.</p>
                </div>
            </div><!-- /index-item -->
        </div><!-- /doc-index-block -->
                        
        <div class="shadow-right"> </div><!-- shadow doc-content-box -->
    </div><!--/.doc-content-box -->
</div><!--/.span9 -->
</div><!--/.row-fluid -->