<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/session</h2>
</div>

<p>Session objects represent interactive sessions. Each time an activity is run, that occurence is a session. Single activities can be shared and run across hundreds of groups, with a different session for each group. Within a group, an activity can be run more than once, each time in a new session.</p>
 <p>While Resources created in an activity are associated with that Activity, Responses to Resources are associated with a given Session.</p>
<p>Additional properties that are not in the Session schema can be stored and retrieved from Session objects.</p>
<p>{session} represents a Session's UUID.</p>
<!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schema</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
Session {
    UUID: "asdv3g2rg2rg2rg",
    name: "First math quiz",
    description: "The initial responses to the activity",
    activity: "aasdfkk24kkk2",
    group: "asdf2egrsdf43g",
    status: "closed",
    showResults: true,
    showCorrect: true,
    hideUserDetails: false,
    enableComments: true,
    enableRatings: true,
    requireRatings: false,
    visible: false,
    timed: false,
    timerSecs: 60,
    createdOn: [2009, 1, 31, 18, 4, 11],
    language: "English"
}
                </pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->


<!-- table Property Summary -->
<h3>Property Summary</h3>
<table id="property-summary" class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">name</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The name of the session.</td>
    </tr>
    <tr>
        <td><span class="property-name">description</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The user-specified description of the session.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">activity</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of the activity. The session represents an occurence of this activity.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">group</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUID of the group that is running the session. Each session is identified by the activity (what is being run) and group (who is running it).</td>
    </tr>
    <tr>
        <td><span class="property-name">status</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Represents the current status of the given session.</td>
    </tr>
    <tr>
        <td><span class="property-name">showResults</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If true, then users can see how other users responded to resources in the activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">showCorrect</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If true, then users can see the correct response to resources created by others in the session's activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">hideUserDetails</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If true, then users cannot see who created a resource in the session's activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">enableComments</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If true, then session participants can view and leave comments for resources.</td>
    </tr>
    <tr>
        <td><span class="property-name">enableRatings</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If true, then users will have the option of rating resources.</td>
    </tr>
    <tr>
        <td><span class="property-name">requireRatings</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If true, then users will be forced to rate a resource when responding to it.</td>
    </tr>
    <tr>
        <td><span class="property-name">visible</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If a session is visible, then all users in a group can see that session. If a session is hidden, then only group organizers for that session's group can see the session.</td>
    </tr>
    <tr>
        <td><span class="property-name">timed</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">An overall timer can be set for the cumulative max time for completing the session.</td>
    </tr>
    <tr>
        <td><span class="property-name">timerSecs</span></td>
        <td class="type-value">integer</td>
        <td class="default-value">0</td>
        <td class="class-desc">The amount of seconds alloted for users to complete a session once it has begun. Only valid if timed is true.</td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds]. Created by server.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">language</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">By default takes the value of the language property of group, or activity if group does not have a set language.</td>
    </tr>

    </tbody>
</table>
<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /session</td>
        <td class="method-desc">Creates a session object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /session/{session}</td>
        <td class="method-desc">Updates given session.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /session/{session}</td>
        <td class="method-desc">Deletes a session object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /session/{session}</td>
        <td class="method-desc">Fetches a session object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /session/getSessions</td>
        <td class="method-desc">Fetches all sessions associated with a group and/or activity.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
    <div class="page-header">
        <a title="jump to method summary" href="#method-set" class="scroll pull-right">
            <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
        </a>

        <h3 id="method-desc-set">Method Detail</h3>
    </div>

<!--Begin Method Details: POST /session -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /session</p>

    <p class="det">Creates a session object. Any fields that are in the schema but not in the request schema cannot be added (such as UUID). Any additional fields not in the schema will be added.</p>
    <p>Requires authentication.</p>
    <p>Only admins or group organizers of a group can associate a session  with that group.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    name: "First math quiz",
    description: "The initial responses to the activity",
    *activity: "aasdfkk24kkk2",
    *group: "asdf2egrsdf43g",
    status: "closed",
    showResults: true,
    showCorrect: true,
    hideUserDetails: false,
    enableComments: true,
    enableRatings: true,
    requireRatings: false,
    visible: false,
    timed: false,
    timerSecs: 60,
    language: "English"
} </pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">1</td>
            <td class="error-msg">Missing required fields in request: [username]</td>
            <td class="error-desc">The request is missing one or more required fields.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot create a Session without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">27</td>
            <td class="error-msg">Admin authorization required to set the session's group to a group in which you are not an organizer or owner.</td>
            <td class="error-desc">Admin authorization is required to set session's group to a group in which you are not an organizer or owner.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /session-->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /session/{session} -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /session/{session}</p>

    <p class="det">Updates session. Requires authentication.</p>
    <p>To update a session, you must either be an admin or be an organizer in the session's group.</p>
    <p>Only an admin can change a session's group or activity.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    name: "First math quiz",
    description: "The initial responses to the activity",
    (admin) activity: "aasdfkk24kkk2",
    (admin) group: "asdf2egrsdf43g",
    status: "closed",
    showResults: true,
    showCorrect: true,
    hideUserDetails: false,
    enableComments: true,
    enableRatings: true,
    requireRatings: false,
    visible: false,
    timed: false,
    timerSecs: 60,
    language: "English"
} </pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot update an Activity without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Session found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">28</td>
            <td class="error-msg">Admin authorization required to change a session's activity.</td>
            <td class="error-desc">Admin authorization is required to change a session's activity.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">29</td>
            <td class="error-msg">Admin authorization required to change a session's group.</td>
            <td class="error-desc">Admin authorization is required to change a session's group.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">30</td>
            <td class="error-msg">Only admins or organizers of a session's group can call this function.</td>
            <td class="error-desc">You must be an admin or organizer in the session's group to update the session.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /session/{session} -->
    <div class="page-header"></div>
<!--Begin Method Details: DELETE /session/{session} -->
    <p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /session/{session}</p>

    <p class="det">Deletes given session. Only an organizer in a session's group (or an admin) can delete a session.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to delete an activity owned by a different user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot delete an Activity without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Activity found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">30</td>
            <td class="error-msg">Only organizers of a session's group can call this function.</td>
            <td class="error-desc">You must be an admin, or an organizer in the session's group to delete the session.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: DELETE /session/{session}-->
    <div class="page-header"></div>
<!--Begin Method Details: GET /session/{session} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /session/{session}</p>

    <p class="det">Returns session object. You must be authenticated (logged in) to call this function. Only members of a session's group (or admins) can view a session.</p>
    <p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Session schema).</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    session: {
        //All session fields are returned.
        //Properties added that are not on the Session schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Activity details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Session found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">30</td>
            <td class="error-msg">Only members of a session's group can view that session.</td>
            <td class="error-desc">You must be a member in the session's group to view that session.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /session/{session} -->
    <div class="page-header"></div>
<!--Begin Method Details: POST /session/getSessions -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /session/getSessions</p>

    <p class="det">Returns all sessions for a given activity and/or group. You must be authenticated as a member of a group to view it's sessions. Only admins can leave out the group property, requesting all sessions for an activity (not filtered by group). If the group property is not specified, then activity must be specified.</p>
    <p>Only organizers of a group can view sessions with a visible property set to false.</p>
    <p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Session schema).</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description"]
    * (required unless admin) group: 880asdf8jlqjka3w4ta
    (optional) activity: 4324r9ugj9i332r3t28
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    sessions: [
        { [Session] }
        //All session fields are returned by default.
        //Properties added that are not on the Session schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Session details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Group/Activity found with specified UUID.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">30</td>
            <td class="error-msg">Only members of a session's group can call this function.</td>
            <td class="error-desc">You must be a member of this group to view it's sessions. Group UUID: {UUID}.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">31</td>
            <td class="error-msg">Only admins can request all sessions for an activity not filtered by group. Please specify a group.</td>
            <td class="error-desc">You must be an admin to request all sessions for an activity not filtered by group.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">31.1</td>
            <td class="error-msg">This function requires that either a group or activity be provided in the request.</td>
            <td class="error-desc">You must specify either a group or activity for this function.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /session/getSessions -->
    <div class="page-header"></div>

</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->