/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; overflow:hidden; display:none; }
ul.bjqs li{ float:left; color:#fff; font-size:20px; left:0; }
ul.bjqs li h2{ text-align:right; padding-right:20px;}
ul.bjqs li p{ font-size:16px; color:#fff; display:block; overflow:hidden; padding:20px; text-align:right;}
ul.bjqs li a{ color:#fff; }
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:relative; left:0; bottom:0;}
ul.bjqs-controls.v-centered li.bjqs-next a{float:left; background:url(../images/next.png) no-repeat; width:67px; height:65px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{ float:left; background:url(../images/prev.png) no-repeat; width:67px; height:65px;}
ol.bjqs-markers{list-style: none; width:100%; margin-top:-40px;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block; color:#fff;}
ul li.p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;bottom:0;}