@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/*reset*/
html,body,p,a,span,form,ul,li,input,select,img,aside,article,header,footer,label,h1,h2,h3,h4{ margin:0; padding:0;}
body{font: 13px 'PT Sans', Arial, Helvetica, sans-serif; color:#333333; background: url(../images/bg.png) no-repeat center center fixed;
-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-size: cover; overflow-x:hidden;}
a{ text-decoration:none; border:0;}
img{ border:none;}
img {max-width: 100%;height: auto;width: auto\9; /* ie8 */float: none;padding: 0px;}

ul,li{ list-style:none;}
.clearfix {*zoom: 1;}.clearfix:before,.clearfix:after { display: table;content: "";line-height: 0;}
.clearfix:after {clear: both;}

.tright{ text-align:right; padding-right:20px;}
.fs30{ font-size:30px;}
.padding_both{ padding:20px;}
/*width*/
.row{ width:100%; float:left;}
.container{ width:90%; margin:0 auto; float:none;}
.span467{width:467px; float:left;} .span320{width:320px; float:left;} .span467{width:467px; float:left;}
.span320l{width:320px; float:right;}
/*line height*/
.line-height50{ line-height:50px;}
/*background color*/
.bg_slate{background-color:#384b5c;} .bg_slate_transparent{background-color:rgba(56,75,92,0.8); background:rgba(56,75,92,0.8);}
.bg_silver{background-color:#ecedef;}
/*color*/
.white_color{ color:#fff;}
.slate_color{ color:#384b5c;}
/*element style*/
.setting{ background:#ea4d3a; float:right; width:52px; position:absolute; right:0; top:0; height:52px;}
.setting a{ padding-left:10px; float:left; margin-top:10px;}
.logo{float:left; width:auto; }
.register{ font-size:18px; padding-left:40px; width:auto; color:#fff; line-height:45px;}
.register_panel{ margin-top:20px;}
.divider{ width:100%; clear:both; background:#fff; float:left; height:1px;}
.height30{ height:30px;}
/*position*/
.bottom_position{ left:0; bottom:0; position:absolute;}
/*left margin*/
.lm10{ margin-left:10px;} .lm20{ margin-left:20px;} .lm30{ margin-left:30px;} .lm40{ margin-left:4%;}
.tm20{ margin-top:20px;}
/*form*/
.input_green{ width:190px; height:40px; border:2px solid #1cbd9c; margin-left:45px; margin-top:15px; padding-left:45px; outline:none; }
.input_red{ width:190px; height:40px; border:2px solid #ea4d3a; margin-left:45px; margin-top:15px; padding-left:45px;  outline:none;}
.user{ width:40px; height:44px; position:absolute; background:#1cbd9c url(../images/man.png) no-repeat center; margin-left:45px; margin-top:15px;}
.key{ width:40px; height:44px; position:absolute; background:#ea4d3a url(../images/key.png) no-repeat center; margin-left:45px; margin-top:15px;}
.submit{ width:290px; float:left; margin:20px 0px 20px 15px; background-color:#384b5c; font-size:15px; text-align:center; height:50px;
color:#fff; border:none; outline:none; cursor:pointer;}
.submit:hover{ background:#ea4d3a;}
.forgot{ font-size:14px;  color:#384b5c; float:right; padding-right:10px; padding-top:15px; padding-bottom:15px; font-weight:bold;}
.remember{font-size:15px;  color:#384b5c; float:left; margin-left:20px; background:url(../images/arrow.png) no-repeat right; padding-right:50px;
font-weight:bold;}
	
#green::-webkit-input-placeholder { color:#1abd9c; font-size:14px; font-weight:bold;}
#green::-moz-placeholder { color:#1abd9c; font-size:14px; font-weight:bold;}
#red::-webkit-input-placeholder { color:#eb4d3b; font-size:14px; font-weight:bold; }
#red::-moz-placeholder { color:#eb4d3b; font-size:14px; font-weight:bold; }

/* Check box */
.check {width: 20px; float:left; margin-left:50px;position: relative;}

.check label {cursor: pointer;position: absolute;width: 20px;height: 20px;margin-top:-2;margin-left:-13px;background:#384b5c;}
.check label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;
	content: '';position: absolute;width: 9px;height: 5px;background: transparent;top: 4px;left: 4px;
	border: 3px solid #fcfff4;border-top: none;border-right: none;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}

.check label:hover::after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);opacity: 0.3;}

.check input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	filter: alpha(opacity=100);	opacity: 1;}
	
.slider {
  width:100%;
 overflow: hidden;

 
}
  .slider > ul {
    /* styled by JS to match the added width and height of all <li>’s */
    position:relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
	display:block;
    overflow: hidden;
  }
    .slider > ul > li {
      float: left !important;
     
	  color:#fff; 
	  font-size:30px;
	  
	   
    }/* CSS Document */

	
	.slider > ul > li > p{ padding:20px; font-size:16px;}/* CSS Document */

ul.nav{width:100%; float:left; margin:0; padding:0;}
ul.nav li{float:left; display:block;}
ul.nav li a{ width:67px; display:inline;}
.next{ width:67px; height:65px; float:left; background:url(../images/next.png) no-repeat;}
.prev{ width:67px; height:65px; float:left; background:url(../images/prev.png) no-repeat;}

.navigation{position:relative; float:left; width:100%;}
	
	
@media only screen and (max-width :1280px) 
{
	.span467{ width:36.7%; }
	.span320,.span320l{width:30.0%;}
	.check{margin-left:5%}
	.submit{ width:90%; text-align:center;}
	.lm20{ margin-left:2%;} .lm40{ margin-left:2%;}
	.input_green,.input_red{ width:70.0%; padding-left:4.5%;}
    .user,.key{margin-left:2%;}
}
@media only screen and (max-width :980px) 
{	.input_green,.input_red{ width:86.0%;}
	.bottom_position{ left:auto; bottom:none; position:inherit;}
	.span320,.span320l,.span467{width:100%;float:left; margin-left:0;}
	.span320l{ margin-top:20px; margin-bottom:20px; float:left;}
	.submit{ width:95%;  padding-left:4.5%;}
}
@media only screen and (max-width :760px) 
{
	.input_green,.input_red{ width:80%; margin-left:5%; padding-left:10%;}
	.submit{ width:94%; margin-left:2%;}
}