<h4>User Profile</h4>
<div class="container">
    <form id="profile-form" method="post" action="http://localhost/services/user" enctype="multipart/form-data" target="uploadFrame">

    <input type="hidden" name="id" value="<%= user.get('_id') %>" />
    <input type="hidden" name="callbackfn" value='callbackfn' />
    <input type="text" placeholder="Choose User Name" class="input_field input_green" name="username" id="username" value="username" /><br />
    <input type="text" placeholder="First Name" class="input_field input_green" name="firstName" id="firstName" value="firstName" /><br />
    <input type="text" placeholder="Last Name" class="input_field input_green" name="lastName" id="lastName" value="lastName" /><br />
    <input type="text" placeholder="Email" class="input_field input_green" name="email" id="email" value="emailAddresses" /><br />
    <input type="text" placeholder="City" class="input_field input_green" name="city" id="city" value="city" /><br />
    <input type="text" placeholder="State" class="input_field input_green" name="region" id="region" value="region" /><br />
    <input type="text" placeholder="Country" class="input_field input_green" name="country_id" id="country_id" value="country" /><br />
    <input type="file" name="uploadFile" id="uploadFile" /><br />
    <input type="submit" class="submit" value="Submit" />
</form>
</div>